# version: "3.8"
# services:
#   db:
#     image: postgres:15
#     environment:
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: postgres
#       POSTGRES_DB: postgres
#     ports:
#       - "5432:5432"
#     volumes:
#       - db_data:/var/lib/postgresql/data
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U postgres"]
#       interval: 5s
#       timeout: 5s
#       retries: 5

#   redis:
#     image: redis:7
#     ports:
#       - "6379:6379"

#   api:
#     build:
#       context: .
#       dockerfile: Dockerfile
#     command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 1
#     environment:
#       DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
#       REDIS_URL: redis://redis:6379/0
#     ports:
#       - "8000:8000"
#     depends_on:
#       db:
#         condition: service_healthy
#       redis:
#         condition: service_started

#   worker:
#     build: .
#     command: rq worker -u redis://redis:6379/0 default
#     environment:
#       DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
#       REDIS_URL: redis://redis:6379/0
#     depends_on:
#       - db
#       - redis

# volumes:
#   db_data:

version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 1
    environment:
      DATABASE_URL: postgresql://a5e9ac7c1b59b7f7f114155b69207a91f195f9ebf1c541bae2286b9237ef7999:sk_wUJnkVb2NW0qDSFHc5V4R@db.prisma.io:5432/postgres?sslmode=require
      REDIS_URL: redis://default:ipts3lSEvm7LFPoaM8ef91wL7tvGazGE@redis-16766.c262.us-east-1-3.ec2.redns.redis-cloud.com:16766
      PYTHONUNBUFFERED: "1"
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - worker

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: rq worker -u redis://default:ipts3lSEvm7LFPoaM8ef91wL7tvGazGE@redis-16766.c262.us-east-1-3.ec2.redns.redis-cloud.com:16766 default
    environment:
      DATABASE_URL: postgresql://a5e9ac7c1b59b7f7f114155b69207a91f195f9ebf1c541bae2286b9237ef7999:sk_wUJnkVb2NW0qDSFHc5V4R@db.prisma.io:5432/postgres?sslmode=require
      REDIS_URL: redis://default:ipts3lSEvm7LFPoaM8ef91wL7tvGazGE@redis-16766.c262.us-east-1-3.ec2.redns.redis-cloud.com:16766
      PYTHONUNBUFFERED: "1"
    restart: unless-stopped

volumes:
  db_data:
